$md: 768px;
$p-2: 0.5rem;
$navigationHeight: 25px;

.repertoire-sidebar {
  display: grid;
  grid-template-rows: $navigationHeight 1fr 5fr 1fr;
  gap: $p-2;
  min-height: 50vh;
  width: 100%;
  padding: $p-2;

  &--settings {
    grid-template-rows: $navigationHeight 1fr;
  }


  &__engine {
    overflow: auto;
    display: none;
  }

  &__pgn {
    overflow: auto;
    display: none;
  }

  &__opening {
    overflow: auto;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  &__navigation {
    grid-row-start: 1;
  }
}

@media (min-width: $md) {
  .repertoire-sidebar {
    grid-template-rows: 1fr 1fr 5fr $navigationHeight;
    margin-left: $p-2;
    height: var(--cg-height);

    &--settings {
      grid-template-rows: 1fr $navigationHeight;
    }

    &__engine {
      display: block;
    }

    &__pgn {
      display: block;
    }

    &__opening {
      grid-row-start: initial;
      grid-row-end: initial;
    }

    &__navigation {
      grid-row-start: initial;
      grid-row-end: initial;
      margin-top: 0;
    }
  }
}