.cj-promotion {
  z-index: 205;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(37, 7%, 14%, 0.7);

  &.cg-wrap {
    position: absolute;
  }

  &__column {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12.5%;
    height: 50%;
  }

  .square {
    flex: 1;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: all;
    transition: all 150ms;
    background-color: #b0b0b0;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-size: 100%;
      border-radius: 0;
    }
  }
}