[data-annotation-theme="pieces"] {
  --annotation-icon-width: 20px;
  --annotation-icon-height: 20px;
  --annotations-bad: var(--piece-knight-white);
  --annotations-blunder: var(--piece-pawn-white);
  --annotations-brilliant: var(--piece-king-white);
  --annotations-dubious: var(--piece-bishop-white);
  --annotations-good: var(--piece-queen-white);
  --annotations-interesting: var(--piece-rook-white);
  --annotations-neutral: url('data:image/svg+xml;base64,');
}