.annotation-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-size: cover;
  width: var(--annotation-icon-width);
  height: var(--annotation-icon-height);

  &__container {
    position: relative;
    border-radius: var(--annotation-icon-container-border-radius);
    width: 22px;
    height: 22px;
  }

  &__bad {
    background-image: var(--annotations-bad);
  }

  &__blunder {
    background-image: var(--annotations-blunder);
  }

  &__brilliant {
    background-image: var(--annotations-brilliant);
  }

  &__dubious {
    background-image: var(--annotations-dubious);
  }

  &__good {
    background-image: var(--annotations-good);
  }

  &__interesting {
    background-image: var(--annotations-interesting);
  }

  &__neutral {
    background-image: var(--annotations-neutral);
  }
}