.comment-editor {
  .font-chess {
    background-color: oklch(var(--s));
    color: oklch(var(--sc));
    padding: 0.125rem 0.25rem;
    border-radius: 0.375rem;
    font-size: 85%;
    white-space: break-spaces;
  }
}